In [2]:
import numpy as np
import pandas as pd

①②③

# 1. 외부파일 가져오기  
- 파일 읽기 
    - pd.read_csv('파일경로')
    - pd.read_excel('파일경로')
    - pd.read_json('파일경로')
    - pd.read_html('웹 주소')

- pd.read_파일형식(path, header=None, index_col = None, sep=None, names=None..... )
    - 옵션   
       <img src = '../images/read_파일_옵션1.jpg' height = '60%' width='60%' align='left'><br/>
       <img src = '../images/read_파일_옵션2.jpg' height = '61%' width='61%' align='left'>

In [3]:
csv = pd.read_csv('../pandas_data/df_sample2.csv')
csv

   Unnamed: 0   name algol basic c++
0           0  Jerry     A     C  B+
1           1   Riah    A+     B   C
2           2   Paul     B    B+  C+

###### 옵션 -  index_col = 'name'   /  csv.drop( [컬럼], axis = 1 )

In [4]:
csv = pd.read_csv('../pandas_data/df_sample2.csv', index_col ='name')
csv.drop(['Unnamed: 0'], axis = 1, inplace = True)
csv

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

###### option - skip_footer = 5

In [5]:
xlsx = pd.read_excel('../pandas_data/남북한발전전력량.xlsx', skip_footer=10, encoding='euc-kr')
xlsx = xlsx.iloc[0:3,[0,1,2,3,4,5,6]]
xlsx

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994
0        남한     합계  1077  1186  1310  1444  1650
1       NaN     수력    64    51    49    60    41
2       NaN     화력   484   573   696   803  1022

# 2. 데이터 저장하기
- 파일 저장
    - pd.to_csv('파일경로')
    - pd.to_excel('파일경로')
    - pd.to_json('파일경로')

- 여러 개의 데이터프레임을 하나의 Excel 파일로 저장 
    - pd.ExcelWrite('파일경로')
        - df.to_excel(pd.ExcelWriter('경로'), sheet_name='시트 이름')
            - pd.ExcelWriter.save()

###### 여러 개의 데이터프레임을 엑셀 파일로 저장

In [6]:
data1 = {'name' : [ 'Jerry', 'Riah', 'Paul'],
         'algol' : [ "A", "A+", "B"], 
         'basic' : [ "C", "B", "B+"], 
         'c++' : [ "B+", "C", "C+"]}

data2 = {'c0':[1,2,3], 
         'c1':[4,5,6], 
         'c2':[7,8,9],
         'c3':[10,11,12], 
         'c4':[13,14,15]}

df1 = pd.DataFrame(data1)
df1.set_index('name', inplace = True)

df2 = pd.DataFrame(data2)
df2.set_index('c0', inplace = True)

writer = pd.ExcelWriter("./엑셀에여러파일쓰기.xlsx")
df1.to_excel(writer, sheet_name="sheet1") # df1은 sheet1
df2.to_excel(writer, sheet_name="sheet2") # df2는 sheet2 
writer.save()

confirm1 = pd.read_excel('./엑셀에여러파일쓰기.xlsx', sheet_name='sheet2', index_col = 'c0')
confirm2 = pd.read_excel('./엑셀에여러파일쓰기.xlsx', sheet_name='sheet1', index_col = 'name')